body{
    max-width: 900px;
    margin: 0 auto;
    background-color: #e08d8d;
}
/* header section */
header{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    max-width: 50px;
    height: 40px;
}
/* main area */
main{
    background-color:aliceblue ;
    display: flex;
    gap: 20px;
    padding: 0px 10px;
    border-radius: 5px;
}
.half-width{
    width: 50%;
}
.left-side img{
   width: 100%;
   height: 670px;
   border-radius: 10px;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* all button */
.button{
    background-color: #59A5FF;
    padding: 14px 57px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    font-size: medium;
    cursor: pointer;
}
.warning{
    display: none;
    font-weight: bold;
    color: red;
}


/* responsive zone */

@media only screen and (max-width: 600px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-side img{
        height: 100%;
    }
    .button{
        padding: 10px 30px;
    }
    .half-width{
        width: 100%;
    }
}